.section-specialty {
    height: 330px;
    background: #f5f5f5;
    border: 1px solid red;
    // margin: 0 50px;

    .specialty-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .specilty-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }

        .specilty-body {
            border: 1px solid grey;

            .specilty-customize {
                .bg-img {
                    width: 278px;
                    height: 150px;
                    background: url('../../../assets/specialty/121042-than-kinh.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }

                        
            .slick-prev {
                left: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: white !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #d7d7d7 !important;   
                }
            }

            .slick-prev:before, .slick-next:before {
                font-family: FontAwesome !important;
                color: red !important;
                // content: "\e257" !important;

            }

            .slick-next {
                right: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: white !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #d7d7d7 !important;   
                }
            }
        }
    }




}


