.section-specialty {
    height: 330px;
    background: #f5f5f5;
    border: 1px solid red;
    // margin: 0 50px;

    .specialty-container {
        margin: 0 50px;


        .specilty-header {
            height: 60px;
            border: 1px solid green;
        }

        .specilty-body {
            border: 1px solid grey;

            .specilty-customize {
                .bg-img {
                    width: 278px;
                    height: 150px;
                    background: url('../../../assets/specialty/121042-than-kinh.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }

                        
            .slick-prev {
                left: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: white !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #d7d7d7 !important;   
                }
            }

            .slick-prev:before, .slick-next:before {
                font-family: FontAwesome !important;
                color: red !important;
                // content: "\e257" !important;

            }

            .slick-next {
                right: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: white !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #d7d7d7 !important;   
                }
            }
        }
    }




}


