.section-specialty {
    height: 330px;
    background: #f5f5f5;
    border: 1px solid red;
    margin: 0 50px;

    .specialty-content {
        margin: 0 50px;
    }

    .img-customize {
        height: 300px;
    }

    h3 {
        border: 1px solid green;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.slick-prev {
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: white !important;
    border: 2px solid #d7d7d7 !important;
}

.slick-prev:before {
    font-family: FontAwesome !important;
    color: red !important;
    // content: "\e257" !important;
}

.slick-next {
    border: 1px solid green !important;
    right: 0 !important;
    height: 48px !important;
    width: 44px !important;
}

.slick-next:before {
    // content: "\e258" !important;s
}