.section-specialty {
    height: 330px;
    background: #f5f5f5;
    border: 1px solid red;
    margin: 0 50px;

    .img-customize {
        height: 300px;
    }

    h3 {
        border: 1px solid green;
        display: block;
        width: 100%;
        height: 100%;
    }
}

.slick-prev {
    border: 1px solid green !important;
    left: 0 !important;
}

.slick-next {
    border: 1px solid green !important;
    right: 0 !important;
}