.login-background {
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);  
    height: 100vh;

    .login-container {
        width: 400px;
        height: 100%;
        margin: 0 auto;
        border-radius: 10px;
        background: white;

        .login-content{
            padding: 10px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }

            .login-input {
                margin: 7px 0;
            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                outline: none;
                border: none;
                height: 35px;
                color: white;
                font-size: 18px;
                border-radius: 3px;
                letter-spacing: 2px;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%,rgba(253,187,45,1) 100%);
            }
        }
    }


}

