                        
            .slick-prev {
                left: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: white !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #d7d7d7 !important;   
                }
            }

            .slick-prev:before, .slick-next:before {
                font-family: FontAwesome !important;
                color: red !important;
                // content: "\e257" !important;

            }

            .slick-next {
                right: -10px !important;
                z-index: 1000 !important;
                height: 48px !important;
                width: 44px !important;
                background: white !important;
                border: 2px solid #d7d7d7 !important;

                &:hover {
                    background: #d7d7d7 !important;   
                }
            }

            .section-share {
                &.section-specialty {
                    background: #f5f5f5;
                }

                &.section-outstanding-doctor {
                    background: #f5f5f5;                    
                }

                &.section-about {
                    border: 1px solid red;
                    height: 500px;
                    margin: 0 100px;
                }

                .section-body {            
                    .section-customize {
                        .bg-img {
                            width: 278px;
                            height: 150px;
                            background-position: center center;
                            background-repeat: no-repeat ;
                            background-size: cover;
                            background-color: #eee;

                            &.section-specialty {
                                background-image: url('../../assets/specialty/121042-than-kinh.jpg');
                            }

                            &.section-medical-facility {
                                background-image: url('../../assets/medical-facility/095119-benh-vien-cho-ray-h1.jpg');
                            }

                            &.section-outstanding-doctor {
                                background-image: url('../../assets/doctor/105401-bsckii-tran-minh-khuyen.jpg');
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;
                            }

                            &.section-handbook {
                                background-image: url('../../assets/handbook/144026-cham-soc-sau-cat-bao-quy-dau.jpg');
                            }
                        }
                    }           
        
                }
            }


            .section-share {
                height: 330px;
                // margin: 0 50px;
            
                .section-container {
                    margin: 0 100px;
                    display: flex;
                    flex-direction: column;
            
                    .section-header {
                        height: 60px;
                        margin-bottom: 30px;
                        padding-top: 30px;
            
                        .title-section {
                            font-size: 22px;
                            font-weight: 600;
                        }
            
                        .btn-section {
                            float: right;
                            padding: 10px 15px;
                            border: none;
                            outline: none;
                            background: #ebebeb;
                            color: black;
                            cursor: pointer;
                            text-transform: uppercase;
            
                            &:hover {
                                color: #fff;
                                background: #f7d800;
                            }
                        }
                    }            

                }
            
            
            
            
            }

            .section-outstanding-doctor {

                .section-customize {
                    padding: 5px;
                    .customize-border {
                        border: 1px solid red;
                        padding: 20px;
                    }
                }
                .outer-bg {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                }

                
            }


            .home-footer {
                text-align: center;
                padding-top: 8px;

                a {
                    text-decoration: none;
                }
            }

            .section-about {
                margin: 0 100px;

                .section-about-header {
                    padding: 20px 10px;
                    font-size: 20px;
                }
            }
            
            
            
