.home-header-container {
    height: 60px;
    border: 1px solid red;
    width: 100%;
    padding: 0 20px ;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;
            
            .header-logo {
                background: url('../../assets//logo.svg') center center no-repeat;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                .subs-title {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.home-header-banner {
    background: url('../../assets/header_bachgroud.jpg');
    height: 485px;
    background-size: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px 0;

    .title-1 {
        text-align: center;
        text-shadow: 1px 1px 1px #333333;
        font-size: 30px;
        margin-bottom: 5px;
        color: white;
        margin-top: 30px;
    }

    .title-2 {
        text-align: center;
        text-shadow: 1px 1px 1px #333333;
        font-size: 30px;
        color: white;
    }

    .search {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        border-radius: 25px;
        background: #f7d800;

        i {
            margin: 0 5px;
        }

        input {
            height: 30px;
            width: 360px;
        }
    }

    .options {

    }
}